<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="raw">
        <span>Forgot Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="typography">
    <form [formGroup]="forgotPasswordFrom">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error
                    *ngIf="forgotPasswordFrom.controls.email.touched && forgotPasswordFrom.controls.email.invalid">
                    <span *ngIf="forgotPasswordFrom.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="forgotPasswordFrom.controls.email.errors.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(forgotPasswordFrom.valid && forgotPasswordFrom.dirty)">
        <mat-icon>send</mat-icon>Send Password
    </button>
    <button mat-raised-button color="warn" mat-dailog-close>
        <mat-icon>cancle</mat-icon>Close
    </button>
</mat-dialog-actions>